<div class="white-space"></div>
<div class="design-banner">
  <div class="design-banner_content">
    <h4>Find designers and inspiration for your project.</h4>
    <p>We have created a space for designers to upload some of their creations.</p>
    <%= link_to contact_path do %>
      <button>Contact</button>
    <% end %>
  </div>
  <%= cl_image_tag("unicorn.gif", :quality=>"auto") %>
</div>
<div class="design-filters">

</div>
