// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$light-gray-2: #898989;
$black-1: #001514;

$color-1-lightest: #CDB5F8;
$color-1-lighter: #9C75E0;
$color-1-light: #7E57C2;
$color-1: #673AB7;
$color-1-dark: #5E35B1;

$color-2: #D81B60;
$color-2-dark: #C2185B;


$color-3-lighter: #F2F4F4;
$color-3-light: #607D8B;
$color-3: #546E7A;
$color-3-dark: #37474F;
$color-3-darker: #263238;


$color-4: #FFD740;
$color-4-dark: #FFC400;
$color-4-darker: #FFAB00;
$color-4-light: #FFE57F;



$color-5: #212121;
