// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$light-gray-2: #898989;
$black-1: #001514;

$color-1: #6E44FF;
$color-1-dark: #5F37E8;

$color-2: #EF626C;
$color-2-dark: #DA5A63;
