

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(255, 255, 255, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(255, 255, 255, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(255, 255, 255, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(255, 255, 255, 0);}}


@-webkit-keyframes pulsey {to {box-shadow: 0 0 0 45px rgba(255, 167, 103, 0);}}
@-moz-keyframes pulsey {to {box-shadow: 0 0 0 45px rgba(255, 167, 103, 0);}}
@-ms-keyframes pulsey {to {box-shadow: 0 0 0 45px rgba(255, 167, 103, 0);}}
@keyframes pulsey {to {box-shadow: 0 0 0 45px rgba(255, 167, 103, 0);}}
