.contact {
  background-color: $color-3-lighter;
  @include absCenterColumn;

  & hr {
    margin-top: 80px;
    display: block;
    width: 80px;
    clear: both;
    border-bottom: 5px solid $color-5;
  }

  & h6 {
    font-weight: 300;
  }

  & h4 {
    font-size: 46px;
    font-weight: 800;
    color: $color-5;
    max-width: 800px;
  }

  &_container {
    max-width: 1400px;
    width: 85%;
    background-color: white;
    // height: 80vh;
    margin: 70px 0;

    & form {
      @include absCenterColumn;
      padding: 60px 0;

      .form-button {
        width: 50%;
        border-radius: 50px;
        background-color: $color-1-light;
        color: white;
        font-weight: 300;
        font-size: 18px;
        padding: 10px;
        margin-top: 40px;

        &:hover {
          background-color: $color-1;
        }

        &:focus {
          outline: 0;
        }
      }

      .form {
        &_name {
          margin: 20px 0;

          & label {
            margin: 0 20px 0 0;
            width: 90px;
          }

          & input {
            width: 85%;
            height: 50px;
            height: 50px;
            border-radius: 0px;
            background-color: white;
            border: 1px solid #D5DCE9;
            padding: 0 20px;
            font-weight: 300;
            color: #898989;

            &:focus {
              outline: 1px solid $color-1-lighter;
            }

          }

          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 50vw;
          margin: 20px 0;
        }

        &_email {
          margin: 20px 0;

          & label {
            margin: 0 20px 0 0;
            width: 90px;
          }

          & input {
            width: 85%;
            height: 50px;
            height: 50px;
            border-radius: 0px;
            background-color: white;
            border: 1px solid #D5DCE9;
            padding: 0 20px;
            font-weight: 300;
            color: #898989;

            &:focus {
              outline: 1px solid $color-1-lighter;
            }
          }

          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 50vw;
          margin: 20px 0;
        }

        &_message {
          margin: 20px 0;

          & label {
            margin: 10px 20px 0 0;
            width: 90px;
          }

          & textarea {
            width: 85%;
            height: 200px;
            border-radius: 0px;
            background-color: white;
            border: 1px solid #D5DCE9;
            padding: 10px 20px;
            font-weight: 300;
            color: #898989;

            &:focus {
              outline: 1px solid $color-1-lighter;
            }
          }

          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          width: 50vw;
          margin: 20px 0;
        }
      }
    }
  }

  @include for-xlarge-devices-down {

    & h4 {
      margin-top: 20px;
    }

    &_container {
      width: 900px;

      & form {
        .form-button {
          width: 80%;
        }

        .form {
          &_name {
            width: 80%;
          }

          &_email {
            width: 80%;
          }

          &_message {
            width: 80%;
          }
        }
      }
    }

  }

  @include for-medium-devices-down {

    & h4 {
      max-width: 75%;
    }

    &_container {
      width: 80%;

      & form {
        .form-button {
          width: 80%;
        }

        .form {
          &_name {
            width: 80%;
          }

          &_email {
            width: 80%;
          }

          &_message {
            width: 80%;
          }
        }
      }
    }

  }

  @include for-phone-only {

    & h4 {
      max-width: 80%;
      margin-top: 30px;
    }

    &_container {
      width: 90%;

      & form {
        .form-button {
          width: 80%;
        }

        .form {
          &_name {
            width: 80%;
            font-size: 12px;
            flex-direction: column;
            align-items: flex-start;

            & label {
              margin: 0 0 10px;
              font-size: 16px;
            }

            & input {
              width: 100%;
            }
          }

          &_email {
            width: 80%;
            flex-direction: column;
            align-items: flex-start;

            & label {
              margin: 0 0 10px;
              font-size: 16px;
            }

            & input {
              width: 100%;
            }
          }

          &_message {
            width: 80%;
            flex-direction: column;

            & label {
              margin: 0 0 10px;
              font-size: 16px;
            }

            & textarea {
              width: 100%;
            }
          }
        }
      }
    }

  }
}

// -------------------------

