// Specific CSS for your home-page
.home-hero-banner {
  background-image: linear-gradient(rgba(0,0,0,0.60)),url('https://images.pexels.com/photos/220769/pexels-photo-220769.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-size: cover;
  height: 650px;
  width: 100%;
  padding: 0 40px;
  //orientation
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  & h3 {
    width: 80vw;
    text-align: left;
    color: white;
    font-weight: 800;
    font-size: 80px;
  }

  @include for-large-devices-down {
    & h3 {
      width: 100vw;
      font-size: 75px;
    }
  }

  @include for-medium-devices-down {
    & h3 {
      font-size: 60px;
    }
  }

  @include for-small-devices-down {
    & h3 {
      font-size: 40px;
      text-align: center;
    }
    align-items: center;
  }

  @include for-phone-only {
    & h3 {
      font-size: 35px;
      text-align: left;
      width: 80vw;
    }
  }

  @include for-small-phone-only {

  }
}

.home-hero-banner-buttons {
  @include for-small-devices-down {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  @include for-phone-only {
    width: 80vw;
  }
}

.home-icon {
  // position: absolute;
  //   bottom: 20px;
  //   right: 30px;
  padding: 15px;
  background-color: transparent;
  color: white;
  font-size: 18px;
  border: 1px solid white;
  border-radius: 50px;
  box-shadow: 1px 2px 1px rgba(0,0,0,0.2);
  transition: 0.3s;

  &:hover {
    color: $color-1-light;
    border: 1px solid $color-1-light;
    transition: 0.3s;
  }
}

.navigation {

  &_checkbox {
    position: absolute;
      top: 30px;
      right: 30px;
    display: none;
    z-index: 2000;
  }

  &_button {
    background-color: transparent;
    height: 30px;
    width: 30px;
    position: absolute;
      top: 30px;
      right: 30px;
    border-radius: 50%;
    @include absCenter;

    & i {
      font-size: 16px;
      color: white;
      padding: 10px;
      border: 1px solid white;
      border-radius: 50%;
      transition: 0.5s;

      &:hover {
        color: $color-1-lightest;
        transition: 0.5s;
        border: 1px solid $color-1-lightest;
      }
    }

  }

  &_list {
    list-style-type: none;
    position: absolute;
      top: 70px;
      right: 25px;

    & li {
      opacity: 0;
      transition: 1s;
      transform: scale(0.1);
    }

    & li:nth-child(1) {
      transition-delay: 0.45s;
    }

    & li:nth-child(2) {
      transition-delay: 0.35s;
    }

    & li:nth-child(3) {
      transition-delay: 0.25s;
    }

    & li:nth-child(4) {
      transition-delay: 0.15s;
    }
  }

  &_link {
    @include absCenter;
    margin: 10px 0;
    transform: translateY(0px);


    & i {
      border: 1px solid white;
      color: white;
      background-color: transparent;
      border-radius: 50%;
      padding: 10px;
      font-size: 18px;

      &:hover {
        color: $color-1-lightest;
        transition: 0.5s;
        border: 1px solid $color-1-lightest;
      }
    }
  }

  &_checkbox:checked ~ &_list {

    & li {
      opacity: 1;
      transform: scale(0.9);
      transition: 0.8s;
    }

    & li:nth-child(1) {
      transition-delay: 0.10s;
    }

    & li:nth-child(2) {
      transition-delay: 0.20s;
    }

    & li:nth-child(3) {
      transition-delay: 0.30s;
    }

    & li:nth-child(4) {
      transition-delay: 0.40s;
    }

  }

  &_checkbox:checked ~ &_link {
  }
}

//second section called home-2

.home-2 {
  display: flex;
  justify-content: center !important;

  &_container {
    display: flex;
    flex-direction: column;
    width: 90vw;

    @include for-phone-only {
      width: 100vw;
      align-items: center;
    }

    & h4 {
      font-weight: 200;
      text-align: left;
      margin-bottom: 30px;
      margin-left: 10px;
      margin-top: 60px;
      width: 100%;

      & span {
        font-family: $nunito;
        color: $color-1;
        font-weight: 600;
      }

      @include for-medium-devices-down {
        margin-left: 0px;
        text-align: center;
      }

      @include for-phone-only {
        margin-left: 0px;
        text-align: center;
      }
    }

    &_cards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 10px;
      background-color: $color-3-lighter;
      // padding: 30px 0px;

      @include for-xxlarge-devices-down {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }

      @include for-xlarge-devices-down {
        grid-template-columns: 1fr 1fr 1fr;
      }

      @include for-large-devices-down {
        grid-template-columns: 1fr 1fr;
      }

      @include for-medium-devices-down {
        grid-template-columns: 1fr 1fr;
      }

      @include for-small-devices-down {
        grid-template-columns: 1fr;
      }
    }
  }


  &_card {
    height: 380px;
    max-width: 380px;
    background-color: white;
    margin: 10px;
    padding: 10px;
    border: 1px solid #E0E7EB;
    flex: 0 1 24%;
    position: relative;

    & a {
      &:hover {
        text-decoration: none;
      }
    }

    & img {
      height: 80%;
      width: 100%;
      object-fit: cover;
    }

    & span {
      height: 55px;
      background-color: white;
      width: 100%;
      color: $color-5;
      margin-top: 10px;
      padding-left: 5px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      & button {
        height: 40px;
        border: none;
        padding: 0px 20px;
        border-radius: 50px;
        font-weight: 300;
        font-size: 14px;
        color: $color-1;
        background-color: white;
        border: 1px solid $color-1;

        &:hover {
          // border: 1px solid #7F888A;
          background-color: $color-1;
          transition: 0.2s;
          color: white;
        }

        &:focus {
          outline: 0;
          border: none;
        }
      }
    }

    & p {
      font-size: 16px;
      font-weight: 600;
      color: $color-5;
      margin-bottom: 0;
      padding-top: 10px;
    }

    & p:last-child {
      font-size: 20px;
      color: $color-5;
      font-weight: 600;
      padding-top: 0;
      // padding-bottom: 10px;
    }

    @include for-xxlarge-devices-down {
      &:nth-child(5) {
        display: none;
      }
    }

    @include for-xlarge-devices-down {
      &:nth-child(5) {
        display: none;
      }

      &:nth-child(4) {
        display: none;
      }
    }

    @include for-large-devices-down {
      &:nth-child(5) {
        display: none;
      }

      &:nth-child(4) {
        display: none;
      }

      &:nth-child(3) {
        display: none;
      }
    }

    @include for-medium-devices-down {
      &:nth-child(5) {
        display: inline-block;
      }

      &:nth-child(4) {
        display: inline-block;
      }

      &:nth-child(3) {
        display: inline-block;
      }
    }
  }


  &_card:nth-child(1) {
    padding: 20px;

    & hr {
      display: block;
      width: 50px;
      clear: both;
      border-bottom: 3px solid $color-5;
    }

    & button {
      border-radius: 50px;
      border: 1px solid #B6B6B6;
      background-color: white;
      color: #B6B6B6;
      font-weight: 300;
      font-size: 15px;
      padding: 5px 20px;
      transition: 0.5s;
      position: absolute;
        bottom: 30px;

      &:hover {
        border: 1px solid $color-1;
        color: $color-1;
        text-decoration: none;
      }
    }

    & p {
      color: $color-5;
      font-weight: 300;
      font-size: 12px;
    }

    & h6, a {
      color: $color-5;
      font-size: 26px;
      font-weight: 700;
      line-height: 35px;
      margin: 20px 0;
      font-family: $nunito;
      width: 100%;
      transition: 0.4s;

      & span {
        color: $color-1;
        margin: 0 !important;
        padding: 0 !important;
      }

      // @include for-medium-devices-down {
      //   line-height: 40px;
      // }
    }

  }
}

.home-3 {
  display: flex;
  justify-content: center !important;

  &_container {
    display: flex;
    flex-direction: column;
    width: 90vw;

    @include for-phone-only {
      width: 100vw;
      align-items: center;
    }

    & h4 {
      font-weight: 200;
      text-align: left;
      margin-top: 60px;
      margin-left: 10px;
      width: 100%;

      & span {
        font-family: $nunito;
        color: $color-1;
        font-weight: 600;
      }

      @include for-medium-devices-down {
        margin-left: 0px;
        text-align: center;
      }

      @include for-phone-only {
        margin-left: 0px;
        text-align: center;
      }
    }

    &_cards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 10px;
      background-color: $color-3-lighter;
      padding: 30px 0px;

      @include for-xxlarge-devices-down {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }

      @include for-xlarge-devices-down {
        grid-template-columns: 1fr 1fr 1fr;
      }

      @include for-large-devices-down {
        grid-template-columns: 1fr 1fr;
      }

      @include for-medium-devices-down {
        grid-template-columns: 1fr 1fr;
      }

      @include for-small-devices-down {
        grid-template-columns: 1fr;
      }
    }
  }

  &_card {
    height: 380px;
    max-width: 380px;
    background-color: white;
    margin: 10px;
    padding: 10px;
    border: 1px solid #E0E7EB;
    flex: 0 1 24%;
    position: relative;

    & a {
      &:hover {
        text-decoration: none;
      }
    }

    & img {
      height: 80%;
      width: 100%;
      object-fit: cover;
    }

    & span {
      height: 55px;
      background-color: white;
      width: 100%;
      color: $color-5;
      margin-top: 10px;
      padding-left: 5px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      & button {
        height: 40px;
        border: none;
        padding: 0px 20px;
        border-radius: 3px;
        font-weight: 300;
        font-size: 14px;
        color: #666F71;
        background-color: $light-gray;
        border: 1px solid #C8D4D7;

        &:hover {
          border: 1px solid #7F888A;
          transition: 0.2s;
        }

        &:focus {
          outline: 0;
          border: none;
        }
      }
    }

    & p {
      font-size: 16px;
      font-weight: 600;
      color: $color-5;
      margin-bottom: 0;
      padding-top: 10px;
    }

    & p:last-child {
      font-size: 12px;
      color: gray;
      font-weight: 300;
      padding-top: 0;
      padding-bottom: 10px;
    }

    @include for-xxlarge-devices-down {
      &:nth-child(5) {
        display: none;
      }
    }

    @include for-xlarge-devices-down {
      &:nth-child(5) {
        display: none;
      }

      &:nth-child(4) {
        display: none;
      }
    }

    @include for-large-devices-down {
      &:nth-child(5) {
        display: none;
      }

      &:nth-child(4) {
        display: none;
      }

      &:nth-child(3) {
        display: none;
      }
    }

    @include for-medium-devices-down {
      &:nth-child(5) {
        display: inline-block;
      }

      &:nth-child(4) {
        display: inline-block;
      }

      &:nth-child(3) {
        display: inline-block;
      }
    }
  }

}

.home-4 {
  @include absCenter;

  &_reviews {
    width: 78vw;
    background-color: white;
    padding: 40px;
    margin-bottom: 40px;

    & a {
      height: 100%;
      width: 100%;
    }

    & a:hover {
      text-decoration: none;
    }

    & hr {
      display: block;
      width: 50px;
      clear: both;
      border-bottom: 3px solid $color-5;
    }

    & p {
      color: $color-5;
      font-weight: 300;
    }

    & h5 {
      color: $color-5;
      font-size: 48px;
      font-weight: 800;
      line-height: 45px;
      margin: 20px 0;
      font-family: $nunito;
    }

    & h6 {
      color: $color-5;
      font-size: 20px;
      font-weight: 200;
      line-height: 35px;
      margin: 20px 0;
      font-family: $nunito;
      margin: 30px 0 20px 0;
    }

    &_button-1 {
      margin: 0 20px 20px 0;
      background-color: $color-2;
      border-radius: 50px;
      color: white;
      padding: 7px 30px;
      border: none;
      font-weight: 300;
      font-size: 16px;

      &:hover {
        background-color: $color-2-dark;
        text-decoration: none !important;
      }

      &:focus, :active {
        outline: 0;
        border: none;
      }
    }

    &_button-2 {
      margin: 0 20px 20px 0;
      background-color: $color-4-darker;
      border-radius: 50px;
      color: white;
      padding: 7px 30px;
      border: none;
      font-weight: 300;
      font-size: 16px;

      &:hover {
        background-color: $color-4-dark;
        text-decoration: none;
      }

      &:focus, :active {
        outline: 0;
        border: none;
      }
    }

    &_container {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }

    &_card {
      margin-top: 20px;
      margin-right: 20px;
      @include absCenterColumn;
      background-color: $color-3;
      height: 400px;
      width: 25%;
      border-radius: 1px;
      padding: 0 20px;
      position: relative;

      & img:nth-child(1) {
        height: 40px;
        position: absolute;
        top: 40px;
        z-index: 1;
      }

      & img:nth-child(2) {
        height: 40px;
        position: absolute;
          top: 100px;
        z-index: 0;
      }

      & h5 {
        width: 80%;
        font-weight: 200;
        font-size: 20px;
        text-align: center;
        line-height: 38px;
        color: #EEEDED;
        font-family: $nunito;
        position: absolute;
          top: 90px;
        z-index: 1;
      }

      & h6 {
        width: 80%;
        font-weight: 400;
        font-size: 24px;
        text-align: center;
        line-height: 40px;
        color: #EEEDED;
        font-family: $nunito;
        position: absolute;
          bottom: 50px;
        z-index: 1;
      }

      & p {
        width: 80%;
        font-weight: 200;
        font-size: 16px;
        text-align: center;
        line-height: 40px;
        color: #EEEDED;
        font-family: $nunito;
        position: absolute;
          bottom: 20px;
        z-index: 1;
      }
    }

    @include for-xxlarge-devices-down {
      width: 90vw;

      &_card {
        width: 30%;
        height: 370px;

        & h5 {
          line-height: 30px;
        }
      }
    }

    @include for-xlarge-devices-down {
      width: 80vw;
      padding: 100px;

      &_container {
        flex-wrap: wrap;
        justify-content: space-between;
      }

      &_card {
        margin-top: 30px;
        margin-right: 0px;
        width: 46%;
        max-height: 370px;
      }
    }

    @include for-large-devices-down {
      width: 90vw;
      padding: 100px 50px;

      & h5:first-child {
        line-height: 65px;
      }

      &_container {
        flex-wrap: wrap;
        justify-content: space-between;
      }

      &_card {
        margin-top: 30px;
        margin-right: 0px;
        width: 46%;
        min-width: 380px;
      }
    }

    @include for-medium-devices-down {
      width: 80vw;
      padding: 100px 80px;

      &_container {
        flex-wrap: wrap;
      }

      &_card {
        margin-top: 30px;
        margin-right: 30px;
        width: 100%;
      }
    }

    @include for-small-devices-down {
      width: 90vw;
      padding: 100px 80px;

      &_container {
        flex-wrap: wrap;
      }

      &_card {
        margin-top: 30px;
        margin-right: 30px;
        width: 100%;
      }
    }

    @include for-phone-only {
      width: 100%;
      padding: 40px 20px;

      &_container {
        flex-wrap: wrap;
        justify-content: center;
      }

      & h5 {
        font-weight: 800;
      }

      &_card {
        margin-top: 15px;
        margin-right: 0px;
        max-width: 350px;
        min-width: 280px;

        & h5 {
          font-size: 18px;
          font-weight: 300;
        }
      }
    }

    @include for-small-phone-only {
      width: 100%;
      padding: 40px 20px;

      & h5 {
        font-weight: 800;
      }

      &_card {
        margin-top: 10px;
        margin-right: 0px;
        width: 280px;
        max-width: 280px;
        min-width: 280px;

        & h5 {
          font-size: 18px;
          font-weight: 300;
        }
      }
    }
  }
}

.home-bark {
  width: 100%;
  height: 600px;
  background-color: #161E39;
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;

  &_part-one {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 30px 0;
    border-top: 2px solid white;
    border-bottom: 2px solid white;

    & img {
      margin-bottom: 30px;
    }

    & h3 {
      font-weight: 600;
      color: white;
      width: 400px;
      font-size: 26px;
    }

    & button {
      border: 1px white solid;
      background-color: #161E39;
      color: white;
      padding: 5px 30px;
      margin: 10px 0;
      font-size: 18px;
      border-radius: 50px;
      font-weight: 300;
      transition: 0.5s;

      &:hover {
        background-color: white;
        color: #161E39;
        transition: 0.5s;
      }
    }
  }

  &_part-two {

    & h3 {
      font-weight: 700;
      color: white;
    }
  }

  &_part-three {
    width: 400px;
    color: white;
    font-weight: 300;

    & i {
      color: #F4C93D;
    }
  }

  @include for-medium-devices-down {
    height: 100%;
    @include absCenterColumn;
    padding: 60px 0;

    &_part-one {
      margin-bottom: 40px;
      border-top: 2px solid white;
      border-bottom: 2px solid white;
      padding: 30px 0;

      & img {
        height: 100px;
      }

      & h3 {
        font-size: 26px;
        line-height: 40px;
        font-weight: 500;
      }
    }

    &_part-three {
      display: none;
      margin: 50px 0;
    }
  }

  @include for-phone-only {

    &_part-one {
      width: 80vw;

      & img {
        margin-bottom: 30px;
      }

      & h3 {
        font-weight: 600;
        color: white;
        width: 80vw;
        font-size: 26px;
      }
    }
  }
}
