.services-banner {
  position: relative;

  & h2 {
    @include absCenter;
    position: absolute;
      top: 10px;
    height: 100%;
    width: 100%;
    color: white;
    font-size: 46px;
    font-weight: 700;
    z-index: 2;
  }

  &_background {
    background-image: url('https://res.cloudinary.com/hoxton-digital/image/upload/v1564476704/shapes.gif');
    background-position: center bottom;
    height: 700px;
    width: 100%;
    background-size: cover;
    transition: 0.5s;
    filter: brightness(90%);
    z-index: 1;

    @include for-xlarge-devices-down {
      height: 600px;
    }

    @include for-large-devices-down {
      height: 500px;
    }

    @include for-phone-only {
      background-image: url('https://images.pexels.com/photos/1161542/pexels-photo-1161542.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
      background-position: center;
    }
  }
}

.services-container {
  background-color: $color-3-lighter;
  min-height: 50vh;
  @include absCenterColumn;
}

.button-transparent {
  background-color: $color-3-lighter !important;
  font-size: 14px;
  border: 1px solid $color-1 !important;
  color: $color-1 !important;
  transition: 0.3s;

  &:hover {
    background-color: $color-2 !important;
    border: 1px solid $color-2 !important;
    color: white !important;
  }
}

.services-index_card {
  padding: 80px 0;
  width: 1200px;
  display: flex;

  & a:hover {
    text-decoration: none;
  }

  &_image {

    & img {
      width: 600px;
      height: 600px;
      object-fit: cover;
    }
  }

  &_content {
    padding: 0 40px;

    & hr {
      display: block;
      width: 80px;
      clear: both;
      border-bottom: 5px solid $color-5;
    }

    & span {
      font-weight: 300;
      font-size: 18px;
      font-family: $nunito;
    }

    & h6 {
      margin: 40px 0;
      font-weight: 700;
      color: $color-5;
      font-size: 36px;
    }

    & p {
      font-weight: 200;
      color: $color-5;
      line-height: 30px;
      font-size: 18px;
    }

    & button:first-child {
      border-radius: 50px;
      background-color: $color-1-light;
      color: white;
      padding: 7px 20px;
      border: none;
      font-size: 16px;
      font-weight: 300;
      margin-right: 10px;

      &:hover {
        text-decoration: none !important;
        background-color: $color-1-dark;
      }

      &:focus {
        border: none;
        outline: 0;
      }
    }
  }

  @include for-large-devices-down {
    width: 1000px;

    &_image {
      & img {
        width: 500px;
        height: 500px;
        object-fit: cover;
      }
    }
  }

  @include for-medium-devices-down {
    width: 90%;
    flex-direction: column;
    align-items: center;

    &_image {
      margin-bottom: 30px;
      width: 100%;

      & img {
        width: 100%;
        height: 500px;
        object-fit: cover;
      }
    }

    &_content {
      padding: 0 0;
    }
  }

  @include for-phone-only {
    width: 90%;
    flex-direction: column;
    align-items: center;

    &_image {
      margin-bottom: 30px;
      width: 100%;

      & img {
        width: 100%;
        height: 350px;
        object-fit: cover;
      }
    }

    &_content {
      padding: 0 0;
    }
  }
}
