
<footer class="footer fixed-bottom">
  <h4>Building Digital Products will never be the same.</h4>
  <div class="footer_content">
    <div class="absCenterColumn center-text">
      <i class="fas fa-location-arrow footer-icon"></i>
      <p>
        Unit 13, 138 Kinsgland Road <br>London, United Kingdom, E28DY
      </p>
    </div>
    <div class="absCenterColumn center-text">
      <i class="fas fa-phone icon-buzz"></i>
      <p>+44 07464 236371 <br> +44 07545 583958 </p>
    </div>
    <div class="absCenterColumn center-text">
      <i class="fas fa-envelope icon-jiggle"></i>
      <p>contact@hoxton-digital.com <br> gonzalo@hoxton-digital.com </p>
    </div>
  </div>
  <div class="footer_bottom">
    <a class="margin-0" href="/privacy">Privacy</a>
    <a class="margin-0" href="/terms_and_conditions">Terms & Conditions</a>
    <p class="margin-0">Hoxton Digital Ltd <i class="far fa-copyright"></i> 2019</p>
  </div>
</footer>

<script>
  function msg() {
    alert('Email Registered')
  }
</script>
