<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a class="sidebar-links" href="/">Home</a>
  <a class="sidebar-links" href="/about">About</a>
  <a class="sidebar-links" href="/services">Services</a>
  <a class="sidebar-links" href="/projects">Portfolio</a>
<!--   <a class="sidebar-links" href="#">Digital Marketing</a> -->
<!--   <a class="sidebar-links" href="#">SEO</a>
  <a class="sidebar-links" href="#">Designs</a> -->
  <a class="sidebar-links" href="/contact">Contact</a>
</div>

<nav class="navbar" id="navbar">
  <button>
    <span onclick="openNav()">menu</span>
    <i class="fas fa-bars" onclick="openNav()"></i>
  </button>
  <a href="/" class="navbar_text"><h1>HOXTON DIGITAL</h1></a>
  <button class="navbar_search">
    <!-- <i class="fas fa-search"></i> -->
  </button>
</nav>

<script>
  function openNav() {
    document.getElementById("mySidenav").style.left = "0";
    document.getElementById("main").style.left = "250px";
    // document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
    // const bodyish = document.getElementById("main");
    // bodyish.style.display = "inline";
    // document.body.style.opacity = "1";
  }

  function closeNav() {
    document.getElementById("mySidenav").style.left = "-250px";
    document.getElementById("main").style.left= "0";
    // document.body.style.opacity = "1";
    // const bodyish = document.getElementById("main");
    // bodyish.style.display = "none";
  }
</script>
<script>
  var prevScrollpos = window.pageYOffset;
  window.onscroll = function() {
    var currentScrollPos = window.pageYOffset;
    if (prevScrollpos > currentScrollPos) {
      document.getElementById("navbar").style.top = "0";
    } else {
      document.getElementById("navbar").style.top = "-50px";
    }
    prevScrollpos = currentScrollPos;
  }
</script>
