<div class="about">
  <div class="about_header">
    <hr align="left"><br>
    <h4>
      Hoxton Digital is a web development agency dedicated to building top tier digital products, training software engineers and investing in new technology.
    </h4>
    <p>
      Nestled in the heart of London’s tech scene, Hoxton Digital has been recognized for being the pinnacle of Web Development. It's structure was uniquely created to project manage any contracts in the market offering services in the Web Development space that no other competitor has ever offered.</b>
    </p>
  </div>
  <div class="about_banner">
    <!-- here goes the banner with the image of the building -->
  </div>
  <div class="about_content">
    <div class="about_content_text">
      <hr align="left"><br>
      <h6>Founders</h6>
      <p>
        Hoxton Digital was founded by four freelance web developers and teachers with a passion for expanding their knowledge of all things code and sharing that knowledge with others. From a variety of origins and backgrounds, our diversity is one of our great strengths.
      </p>
    </div>
    <div class="about_content_image" style="background-image: url('https://images.pexels.com/photos/2076596/pexels-photo-2076596.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');">

    </div>
    <div class="about_content_image" style="background-image: url('https://images.pexels.com/photos/1559486/pexels-photo-1559486.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');">

    </div>
  </div>
  <div class="about_content">
    <div class="about_content_text">
      <hr align="left"><br>
      <h6>Vision</h6>
      <p>
        Our vision is two fold. We are striving to create London’s first web development agency that involves the client in every single stage of the development process. We are also determined to constantly improve ourselves, this is why we are constantly retraining our staff to ensure that we can deliver the latest in cutting edge tech for our clients.
      </p>
    </div>
    <div class="about_content_image" style="background-image: url('https://images.pexels.com/photos/1040881/pexels-photo-1040881.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');">

    </div>
    <div class="about_content_image" style="background-image: url('https://images.pexels.com/photos/555790/pexels-photo-555790.png?auto=compress&cs=tinysrgb&dpr=2&w=500');">

    </div>
  </div>
  <div class="about_content">
    <div class="about_content_text">
      <hr align="left"><br>
      <h6>Le Wagon</h6>
      <p>
        All of us we introduced to coding by Le Wagon, the world’s number one coding bootcamp and all of our new hires come from the bootcamp, ensuring our team is made up of only the highest quality developers that London has to offer. Our Le Wagon connection also gives us access to an amazing network of over 5,000 developers across the globe.
      </p>
    </div>
    <div class="about_content_image" style="background-image: url('https://images.pexels.com/photos/1837603/pexels-photo-1837603.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=2&w=500');">

    </div>
    <div class="about_content_image" style="background-image: url('https://images.pexels.com/photos/3084/person-woman-park-music.jpg?auto=compress&cs=tinysrgb&dpr=2&w=500');">

    </div>
  </div>
  </div>
</div>
