<div class="about">
  <div class="about_header">
    <hr align="left"><br>
    <h4>
      A software factory built by teachers born in the heart of Shoreditch, London.
    </h4>
    <p>
      Hoxton Digital was founded by four individuals coming from various backgrounds such as Operations, Mathematics, Management Consulting and Business. <b>Discovering and Innovating</b>
    </p>
  </div>
  <div class="about_banner">
    <!-- here goes the banner with the image of the building -->
  </div>
  <div class="about_content">
    <div class="about_content_part-one">
      <div class="about_content_part-one_text">
        <h6>Founders</h6>
        <p>Here we will be talking very briefly about the founders. The idea is to keep selling the idea of the company through a statement but not go fully into the bio of each of the founders of the company</p>
      </div>
      <div class="about_content_part-one_image">
      </div>
      <div class="about_content_part-one_image">
      </div>
    </div>

  </div>
</div>
