<div class="about">
  <div class="about_header">
    <hr align="left"><br>
    <h4>
      A software factory built by teachers born in the heart of Shoreditch, London.
    </h4>
    <p>
      Hoxton Digital was founded by four individuals coming from various backgrounds such as Operations, Mathematics, Management Consulting and Business. <b>Discovering and Innovating</b>
    </p>
  </div>
  <div class="about_banner">
    <!-- here goes the banner with the image of the building -->
  </div>
  <div class="about_content">
    <div class="about_content_text">
      <hr align="left"><br>
      <h6>Founders</h6>
      <p>
        In here we will be talking a bit about the partners but not in a personal way. We just need to say something that gets us closer to a sale. Basically all this wording is a bunch of rubish but oh well might as well write something.
      </p>
    </div>
    <div class="about_content_image" style="background-image: url('https://images.pexels.com/photos/2076596/pexels-photo-2076596.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');">

    </div>
    <div class="about_content_image" style="background-image: url('https://images.pexels.com/photos/1559486/pexels-photo-1559486.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');">

    </div>
  </div>
  <div class="about_content">
    <div class="about_content_text">
      <hr align="left"><br>
      <h6>Vision</h6>
      <p>
        In here we will be talking a bit about the partners but not in a personal way. We just need to say something that gets us closer to a sale. Basically all this wording is a bunch of rubish but oh well might as well write something.
      </p>
    </div>
    <div class="about_content_image" style="background-image: url('https://images.pexels.com/photos/1040881/pexels-photo-1040881.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');">

    </div>
    <div class="about_content_image" style="background-image: url('https://images.pexels.com/photos/555790/pexels-photo-555790.png?auto=compress&cs=tinysrgb&dpr=2&w=500');">

    </div>
  </div>
  <div class="about_content">
    <div class="about_content_text">
      <hr align="left"><br>
      <h6>Le Wagon</h6>
      <p>
        In here we will be talking a bit about the partners but not in a personal way. We just need to say something that gets us closer to a sale. Basically all this wording is a bunch of rubish but oh well might as well write something.
      </p>
    </div>
    <div class="about_content_image" style="background-image: url('https://images.pexels.com/photos/1837603/pexels-photo-1837603.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=2&w=500');">

    </div>
    <div class="about_content_image" style="background-image: url('https://images.pexels.com/photos/3084/person-woman-park-music.jpg?auto=compress&cs=tinysrgb&dpr=2&w=500');">

    </div>
  </div>
  </div>
</div>
