
  <div class="home-1">
    <a href="https://clutch.co/profile/hoxton-digital">
      <div class="home-1_background"></div>
    </a>
    <input type="checkbox" class="navigation_checkbox" id="navi-toggle">
    <label for="navi-toggle" class="navigation_button">
      <i class="fas fa-share-alt"></i>
    </label>
    <ul class="navigation_list">
      <li class="navigation_link">
        <a href="whatsapp://send?text=<%= request.original_url %>">
          <i class="fab fa-facebook">
          </i>
        </a>
      </li>

      <li class="navigation_link">
        <i class="fab fa-linkedin-in"></i>
      </li>

      <li class="navigation_link">
        <i class="fab fa-instagram"></i>
      </li>

      <li class="navigation_link">
        <i class="fas fa-at"></i>
      </li>
    </ul>
  </div>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
