<div class="legal">
  <br>
  <h3>TERMS & CONDITIONS</h3>
  <br>
  <h5>1. Definitions</h5>
  <p>
    <b>1.1 “Agreement”​</b> means these Terms and Conditions together with the terms of any applicable Development Proposal and Cost Specification Documents;
    <br><br>
    <b>1.2 “Customer”</b>​ means the organisation or person who purchases services from Hoxton Digital;
    <br><br>
    <b>1.3 “Intellectual Property Rights”</b>​ means all copyright and other intellectual property rights, howsoever arising and in whatever media, whether or not registered, including (without limitation) patents, trademarks, service marks, trade names, registered design and any applications for the protection or registration of these rights and all renewals and extensions thereof throughout the world;
    <br><br>
    <b>1.4 “Specification”</b> ​means all or any of the following documents: development proposal, cost specification documents, statement of work, quotation or other similar documents supplied to the Customer describing the services to be provided by Hoxton Digital;
    <br><br>
    <b>1.5 “Acceptance Date”</b>​ means the date on which the Software is accepted by the Customer;
    <br><br>
    <b>1.6 “Acceptance Tests”​:</b> means the tests specified in the Specification and/or such other tests as may be agreed in writing between the Customer and Hoxton Digital for the purposes of confirming that the Software operates according to the functional requirements in the Specification;
    <br><br>
    <b>1.7 “Additional Services”</b> ​means any additional services requested by the Customer to be provided by Hoxton Digital as set out in the Specification;
    <br><br>
    <b>1.8 “Annual Support Fee”</b> ​means a fee, subject to a separate commercial quotation, to be charged for the optional provision of support services to the Customer by Hoxton Digital;
    <br><br>
    <b>1.9 “Change Request”</b>​ means a documented request for a change to the Specification or Software or Project Plan or other of the Deliverables made by the Customer or by Hoxton Digital;
    <br><br>
    <b>1.10 “Confidential Information”</b>​ shall include, but not necessarily be limited to, all information which is not publicly known regarding the business, finances, technology, trade secrets, and any other commercially sensitive information of either party regardless of its nature;
    <br><br>
    <b>1.11 “Deliverables”</b>​ means the software, documentation and services to be delivered by Hoxton Digital to the Customer in fulfilment of this Agreement as set out in the Specification.
    <br><br>
    <b>1.12 “Project Plan”​</b> means the timing and sequence of events agreed between the Customer and Hoxton Digital for the performance of this Agreement, as set out in the Specification;
    <br><br>
    <b>1.13 “Live Operational Use”​</b> means the use of the Software in pursuance of the business of the Customer;
    <br><br>
    <b>1.14 “Mis-use”​</b> means use of the Software in a way for which it was not intended to be used according to the Specification;
    <br><br>
   <b>1.15 “Payment Schedule”​</b> means the schedule of payments set out in the Specification;
   <br><br>
   <b>1.16 “Planned Acceptance Date”​</b> means the date specified in the Project Plan on which the
    Software is intended to be accepted by the Customer in accordance with this Agreement;
    <br><br>
    <b>1.17 “Price”</b> ​means the fixed aggregate price for the provision of the Deliverables as set out in the Specification;
    <br><br>
    <b>1.18 “Project”​</b> means the software development, delivery and testing of the Software and the other Deliverables;
    <br><br>
    <b>1.19 “Rates”​</b> means the rates set out in the Specification;
    <br><br>
    <b>1.20 “Software”​</b> means the source programs, compiled object code of the software, scripts and installation programs being developed or customised by Hoxton Digital for the Customer, as set out in the Specification, including any enhancements and modifications made;
    <br><br>
    <b>1.21 “Specified Equipment”​</b> means the configuration of computer or computers, including operating systems, on which the Software is to function as specified in the Specification;
    <br><br>
    <b>1.22 “Standard Working Hours”​</b> means the hours of 9.00am to 5.30pm UK time Monday through to Friday excluding UK Bank Holidays.
    <br><br>
    <b>1.23 “System”​</b> means collectively the Specified Equipment and the Software;
    <br><br>
    <b>1.24 “Warranty Period”​</b> means the period of three calendar months immediately following the Acceptance Date;
    <br><br>
    <b>2. General</b>
    <br>
    2.1 ​These Terms and Conditions shall apply to all contracts for the supply of services by Hoxton Digital to the Customer.
    <br>
    2.2 ​Before the commencement of the services Hoxton Digital shall submit to the Customer a Development Proposal and Cost Specification Documents which shall specify the services to be performed and the fees payable. The Customer shall notify Hoxton Digital immediately if the Customer does not agree with the contents of the Development Proposal and Cost Specification Documents. All Development Proposal and Cost Specification Documents shall be subject to these Terms and Conditions.
    <br>
    2.3 ​Hoxton Digital shall use all reasonable endeavours to complete the services within estimated time frames but time shall not be of the essence in the performance of any services.
    <br><br>
    <b>3. The Project</b>
    <br>
    3.1 ​Hoxton Digital shall provide the Customer with software development services for the purpose of creating the Software and other Deliverables as detailed in the Specification, in accordance with the terms and conditions of this Agreement.
    <br>
    3.2 ​Hoxton Digital shall provide to the Customer the Deliverables when requested by the Customer subject to full payment having been received by Hoxton Digital for the Deliverables or part of the Deliverables being provided.
    <br>
    3.3 ​Unless explicitly itemised in the Specification Hoxton Digital shall not be responsible for any other services including without limitation hardware and software installation, systems integration, data conversion, data import and training.
    <br>
    3.4 ​For the avoidance of doubt, Hoxton Digital shall not be responsible under any circumstances for backup and archiving of the Software or of any data used by the Software on computer equipment belonging to the Customer or the Customer’s appointed computer hosting supplier.
    <br><br>
    <b>4. The Customer's Obligations</b>
    <br><br>
    The Customer shall:
    <br><br>
    4.1.1 ​Make available to Hoxton Digital, free of charge, such computer facilities and resources, (including but not limited to unhindered access to the Specified Equipment including remotely for access at Hoxton Digital’s premises), power and computer consumables and office and administrative resources as are reasonably necessary to enable Hoxton Digital to carry out its obligations under this Agreement;
    <br><br>
    4.1.2 ​Make available suitably qualified employees as may be required for Hoxton Digital to carry out its obligations under this Agreement and ensure that its employees and other independent contractors co-operate reasonably with Hoxton Digital and its employees in carrying out the Project;
    <br><br>
    4.1.3 ​Promptly furnish Hoxton Digital with such information and documents as it may reasonably request for the proper performance of its obligations under this Agreement;
    <br><br>
    4.1.4 ​Ensure that its representative is available as reasonably required by Hoxton Digital; and 4.1.5 ​Use best endeavours to co-operate with and assist Hoxton Digital to such extent as Hoxton
    Digital may reasonably require to perform Hoxton Digital’s obligations under this Agreement.
    <br><br>
    4.2 ​Hoxton Digital reserves the right to initiate a Change Request if the project is delayed by the failure of the Customer to carry out its obligations under this Agreement or if the project is delayed by the acts or omissions of an employee, agent or third party supplier of the Customer or if the project is delayed by circumstances beyond the reasonable control of Hoxton Digital.
    <br><br>
    4.3 ​It is hereby acknowledged that by legal precedent computer software inherently contains from time to time defects, faults and difficulties however well developed and supported and acceptance of Deliverables under this Agreement shall not be unreasonably withheld due to minor faults in the Software.
    <br><br>
    4.4 ​The Customer acknowledges that all and any Deliverables from Hoxton Digital to the Customer or from a third party contracted by Hoxton Digital in respect of this Agreement are of specific importance to Hoxton Digital meeting the agreed schedule in the Project Plan and accepts full responsibility for any delay in accepting the Deliverables.
    <br><br>
    <b>5. Change Control</b>
    <br><br>
    5.1 ​If either party identifies a requirement for a change to the Specification or to the Software or Project Plan, a Change Request shall be sent to the other party detailing the change requirements. If sent by Hoxton Digital, the Change Request shall state the effect such a change shall have on the Specification, the Project Plan and the Price. If sent by the Customer, the receipt of the Change Request by Hoxton Digital shall constitute a request to Hoxton Digital to state in writing the effect such a change shall have on the Specification, the Project Plan and the Price. Hoxton Digital shall use all reasonable endeavours to supply the necessary details within ten working days from receipt of the Change Request or such other period as may be agreed.
    <br><br>
    5.2 ​Where a change to the Price is required, the rates used as the basis for the additional cost for the Change Request shall be the Rates as detailed in the Specification. The parties shall then decide whether or not to implement the change.
    <br><br>
    5.3 ​If Hoxton Digital in its sole discretion deems that more than one working hour is required to investigate and estimate a Change Request initiated by the Customer then Hoxton Digital reserves the right to produce a quotation for the investigation work for the Customer’s approval before commencing investigation work.
    <br><br>
    5.4 ​Hoxton Digital shall not implement any changes to the Software specified in a Change Request unless the Change Request has been agreed by both of the Parties in writing or via Hoxton Digital’s electronic change management system.
    <br><br>
    5.5 ​If a Change Request is agreed in writing by both Parties, the change shall then be deemed to form part of the Specification, Software, Project Plan and Price for the purpose of the meaning of these terms in the Agreement.
    <br><br>

    <b>6. Acceptance Tests</b>
     <br><br>
    6.1 ​It shall be the sole responsibility of the Customer to execute the Acceptance Tests.
    <br><br>
    6.2 ​The Customer shall accept the Software immediately after the Software has passed the Acceptance Tests and shall sign Hoxton Digital’s Acceptance Certificate without delay.
    <br><br>
    6.3 ​If the Software fails to pass the Acceptance Tests, repeat tests shall be carried out without delay following the release of corrected Software by Hoxton Digital until the Software passes the Acceptance Tests.
    <br><br>
    6.4 ​If at any time the Customer or any of its appointed agents, contractors or customers under its authority shall commence Live Operational Use of the whole or any part of the Software then the Customer shall be deemed to have accepted the Software in its entirety.
    <br><br>
    6.5 ​If at any time the Customer shall distribute all or any part of the Software for commercial use by any of its staff, appointed agents, contractors or customers then the Customer shall be deemed to have accepted the Software in its entirety.
    <br><br>

    <b>7. Representatives and Progress Meetings</b>
    <br><br>
    7.1 ​Each party shall nominate in writing upon the signing of this Agreement, the person who shall act as its representative for the purposes of this Agreement and who shall be responsible for providing any information which may be required by the other party to perform its obligations under this Agreement.
    <br><br>
    7.2 ​The parties shall procure that their respective representatives shall meet by physical meeting or conference telephone call, as agreed, at least once a month (or as otherwise may be agreed) between the date of this Agreement and the Planned Acceptance Date to discuss and minute the progress of the Project.
    <br><br>
    7.3 ​The representative of Hoxton Digital shall maintain a log of issues, risks and actions that affect the project. The representative of the Customer shall exercise due diligence in co-operatively assisting the representative of Hoxton Digital to mitigate risks, resolve issues and complete actions in a timely fashion.
    <br><br>

    <b>8. Support</b>
    <br><br>
    8.1 ​Hoxton Digital shall respond to calls and progress calls during Standard Working Hours.
    <br><br>
    8.2 ​Where possible, Hoxton Digital’s response to a fault report shall include an estimate of how long a problem may take to resolve. Hoxton Digital shall keep the Customer informed of the progress of problem resolution. This shall be not more than every two hours for Severity 1 and 2 calls.
    <br><br>
    8.3 ​All support shall be provided by electronic or other communication methods. Hoxton Digital shall not provide on-site support under this Agreement.
    <br><br>
    8.4 ​Hoxton Digital shall be under no obligation to provide support in respect of:
    <br><br>
    8.4(a) ​problems resulting from any modifications or customisation of the Software not authorised in writing by Hoxton Digital. For the avoidance of doubt, modifications to the software shall include but not be limited to changes to the logical or physical database schema of the software, changes to the computer hardware configuration, and hand-modified changes to the data within the database;
    <br><br>
    8.4(b) ​any software other than the Software;
    <br><br>
    8.4(c) ​incorrect or unauthorised use of the Software or Misuse of the Software or operator
    error;
    <br><br>
    8.4(d) ​any fault in the Specified Equipment or any other computer or network hardware;
    <br><br>
    8.4(e) ​any programs or software used in conjunction with the Software which have not been supplied by Hoxton Digital;
    <br><br>
    8.4(f) ​use of the elements of the Software in any combination other than those specified in any operating instructions supplied by Hoxton Digital;
    <br><br>
    8.4(g) ​use of the Software with computer hardware, operating systems or other supporting software other than the Specified Equipment; and
    <br><br>
    8.4(h) ​The Customer’s failure to install and use upon the any new release of the Software within 30 days of its receipt from Hoxton Digital.
    <br><br>
    8.5 ​Any time spent by Hoxton Digital investigating any fault pursuant to the circumstances described in clause 8.4 shall be chargeable at Hoxton Digital’s then current rates. Hoxton Digital shall invoice such charges at its discretion and such shall be paid within 30 days of the date of said invoice.
    <br><br>
    8.6 ​Hoxton Digital reserves the right to discontinue the Support and Maintenance for any prior version of the Software if a superseding version has been available to the Customer.
    <br><br>
    8.7 ​Hoxton Digital shall not be obliged to make modifications or provide Support in relation to the Customer’s computer hardware, operating system software, third party software or any data feeds or external data.
    <br><br>
    8.8 ​The Customer shall:
    <br><br>
    8.8(a) ​operate the Software, maintain data and the database in accordance with all
    instructions issued by Hoxton Digital;
    <br><br>
    8.8(b) ​by arrangement, grant access to premises and/or systems at all times for support;
    <br><br>
    8.8(c) ​make hardware accessible to Hoxton Digital’s support staff and, when required, enable logons or passwords with suitable access permissions required for such support staff;
    <br><br>
    8.8(d) ​permit Hoxton Digital to install the current version of the Software from time to time when upgrades or fixes occur;
    <br><br>
    8.8(e) ​provide notice of intention to change hardware or operating system or data-feeds. If any of these changes have a major effect on the Software then Hoxton Digital reserves the right to increase its charges.
    <br><br>
    <b>9. Warranties</b>
    <br><br>
    9.1 ​Hoxton Digital warrants that the Software shall perform substantially in accordance with the Specification on the Specified Equipment, minor interruptions and errors excluded;
    <br><br>
    9.2 ​Hoxton Digital shall not be liable under clause 9.1if a failure to meet the warranties set out in it is caused by:
    <br><br>
    a. computer equipment or computer software, other than the Software delivered by Hoxton Digital; or
    <br><br>
    b. modifications or customisation made by or on behalf of the Customer to the Software, without the authorisation of Hoxton Digital; or
    <br><br>
    c. Misuse use of the Software; or
    <br><br>
    d. Force Majeure.
    <br><br>
    9.3 ​If Hoxton Digital receives a written notice from the Customer identifying a breach of the warranties set out in clause 9.1, or otherwise becomes aware of its failure to comply with the warranties set out in clause 9.1, then Hoxton Digital shall, at its own expense, promptly remedy such breach or failure provided that Hoxton Digital shall have no liability or obligations under the warranties unless it shall have received written notice of the defect or error within the Warranty Period.
    <br><br>

    <b>10. Licence and Ownership</b>
    <br><br>
    10.1 ​Except where otherwise agreed and on payment in full of the Price, Hoxton Digital assigns to the Customer ownership of the Intellectual Property Rights in the Software.
    <br><br>

    <b>11. Proprietary Rights</b>
    <br><br>
    11.1 ​Hoxton Digital shall indemnify the Customer on demand against all costs, claims, demands, expenses and liabilities of whatsoever nature arising out of or in connection with any claim that the use or possession of the Software infringes the Intellectual Property Rights of any third party subject to such infringement having been deliberately and consciously entered into on the part of Hoxton Digital.
    <br><br>
    a. The Customer shall promptly notify Hoxton Digital in writing of any allegations of infringement of which it is aware and shall not make any admissions without Hoxton Digital’s prior written consent;
    <br><br>
    b. The Customer, at Hoxton Digital’s request and expense, shall allow Hoxton Digital to conduct and/or settle all negotiations and litigation resulting from any such claim subject to HoxtonDigital taking over such conduct within 10 working days after being notified of the claim and provided that Hoxton Digital diligently pursues the settlement of any such claim; and
    <br><br>
    c. The Customer shall, at the request of Hoxton Digital, afford all reasonable assistance with such negotiations or litigation, and shall be reimbursed by Hoxton Digital on demand for all expenses properly incurred in doing so.
    <br><br>
    11.2 ​If the Customer’s use or possession of the Software or any part of the Software in accordance with this Agreement, is held by a court of competent jurisdiction to constitute an infringement of a third party’s Intellectual Property Rights, then Hoxton Digital shall promptly and at its own expense:
    <br><br>
    1. procure for the Customer the right to continue using and possessing the Software or the infringing part; or
    <br><br>
    2. modify or replace the Software (or part thereof) without detracting from the overall performance of the Software, so as to avoid the infringement.
    <br><br>
    11.3 ​If the remedies set out in clause 11.2 above are not in Hoxton Digital’s opinion reasonably available, then the Customer shall return the Software which is the subject of the intellectual property claim and Hoxton Digital shall refund to the Customer the corresponding portion of the Price, as normally depreciated, whereupon this Agreement shall immediately terminate.
    <br><br>

    <b>12. Charges and Expenses</b>
    <br><br>
    12.1 ​In consideration of Hoxton Digital carrying out the Project, the Customer shall pay to Hoxton Digital the Price which shall be invoiced to the Customer in the specified proportions set out in the Specification and subject to the terms set out in clause 13.
    <br><br>
    12.2 ​In consideration of any Additional Services, the Customer shall pay to Hoxton Digital the amounts invoiced by Hoxton Digital to the Customer using the Rates set out in the Specification.
    <br><br>
    12.3 ​Except as otherwise agreed in writing, The Customer shall pay to Hoxton Digital all reasonable travelling, accommodation and other reasonable out-of-pocket expenses incurred by Hoxton Digital staff in the course of the Project with car mileage charged at the rate of 40 pence per mile.
    <br><br>
    <b>13. Terms of Payment</b>
    <br><br>
    13.1 ​Payment of sums due by the Customer to Hoxton Digital shall be made within 30 days of the receipt of an invoice from Hoxton Digital. All payments under this Agreement shall be made in Pounds Sterling unless otherwise agreed in writing between the Parties.
    <br><br>
    13.2 ​With effect from the beginning of each year commencing on the Acceptance Date, Hoxton Digital may, at is sole discretion, increase the Rates in effect during the previous year.
    <br><br>
    13.3 ​All monetary amounts stated within this Agreement are exclusive of VAT, which shall be payable by the Customer at the rate and in the same manner for the time being prescribed by law against submission of a valid tax invoice.
    <br><br>
    13.4 ​Without prejudice to any other right reserved by Hoxton Digital in this Agreement, if any sum payable under this Agreement is in arrears for more than fourteen (14) days from the due date of payment then Hoxton Digital shall be entitled to charge interest on a day-to-day basis on any such arrears as from the invoice date at the rate permitted from time to time under the provisions of the Late Payment of Commercial Debts (Interest) Act 1998.
    <br><br>
    14. Liability and Insurance
    <br><br>
    <b style="color: red;"><i>14.1 ​Hoxton Digital shall, during the term of this Agreement, maintain employer’s liability, third party liability and product cover in respect of its liabilities arising out of or connected with this Agreement,
    such cover to be to a minimum value of £100,000 and with an insurance company of repute. Hoxton
    Digital shall on request supply copies of the relevant certificates of insurance to the Customer as
    evidence that such policies remain in force. Hoxton Digital undertakes to use reasonable commercial
    efforts to pursue claims under such insurance policies.
    </i></b>
    <br><br>
    14.2 ​Hoxton Digital shall indemnify the Customer for personal injury or death caused by the negligence of its employees in connection with the performance of their duties under this Agreement or by defects in any product supplied pursuant to this Agreement.
    <br><br>
    14.3 ​Hoxton Digital shall indemnify the Customer for direct damage to tangible property caused by the negligence of its employees in connection with the performance of their duties under this Agreement or by defects in any product supplied pursuant to this Agreement. Hoxton Digital’s total liability under this clause shall be limited to £100,000 for any one event or series of connected events.
    <br><br>
    14.4 ​Save in respect of claims for death or personal injury arising from Hoxton Digital’s negligence, in no event shall Hoxton Digital be liable for any damages resulting from loss of or corruption of data or information, loss of goods, use, profits, business, anticipated savings, goodwill or similar losses, nor for any damages that are an indirect or secondary consequence of any act or omission of Hoxton Digital whether such damages were reasonably foreseeable or actually foreseen.
    <br><br>
    14.5 ​In no event shall Hoxton Digital be liable for any damages resulting from the Misuse of the Software.
    <br><br>
    14.6 ​Except as provided above in the case of personal injury, death and damage to tangible property, Hoxton Digital’s maximum liability to the Customer under this Agreement or otherwise for any cause whatsoever (whether in the form of the additional cost of remedial services or otherwise) shall be for direct costs and damages only and shall be limited to the greater of:
    <br><br>
    a. the sum for which Hoxton Digital carries comprehensive insurance cover pursuant to clause 14.1 above; or
    <br><br>
    b. a sum equivalent to the price paid to Hoxton Digital for the products or services that are the subject of the Customer’s claim, plus damages limited to 25% of the same amount for any additional costs directly, reasonably and necessarily incurred by the Customer in obtaining alternative products and/or services.
    <br><br>
    14.7 ​The parties acknowledge and agree that the limitations contained in this clause 14 are reasonable in the light of all the circumstances.
    <br><br>
    14.8 ​The Customer’s statutory rights as a consumer (if any) are not affected. All liability that is not expressly assumed in this Agreement is excluded. These limitations shall apply regardless of the form of action, whether under statute, in contract or tort including negligence or any other form of action. For the purposes of this clause, ”Hoxton Digital” includes its employees, sub-contractors and suppliers who shall all have the benefit of the limits and exclusions of liability set out above in terms of the Contracts (Rights of Third Parties) Act 1999. Nothing in this Agreement shall exclude or limit liability for fraudulent misrepresentation.
    <br><br>

    <b>15. Termination</b>
    <br><br>
    15.1 ​This Agreement shall continue until completion of the Project unless either party gives to the other not less than 90 days’ prior written notice of termination or unless the Agreement is terminated in accordance with any of the provisions of this clause 15 or any other clause of this Agreement.
    <br><br>
    15.2
    <br><br>
    a. Either party shall be entitled to terminate this Agreement forthwith at any time by written notice to the other party if:
    <br><br>
    b. the other party commits a breach of any of the terms of this Agreement (and if the breach is
    capable of remedy) fails to remedy the breach within 30 days after receipt of notice in writing
    to do so; or
    <br><br>
    c. the other party becomes subject to an administration order; a receiver or administrative
    receiver or similar is appointed over, or an encumbrancer takes possession of any of the other party’s property or assets; the other party enters into an arrangement or composition with its creditors, ceases or threatens to cease to carry on business, becomes insolvent, or ceases to be able to pay its debts as they fall due.
    <br><br>
      15.3 ​Forthwith upon the termination of this Agreement, Hoxton Digital shall return to the Customer any materials and documentation and any Confidential Information belonging to the Customer and all copies of the whole or any part thereof or, if requested by the Customer, shall destroy the same and certify in writing to the Customer that it has been destroyed.
    <br><br>
      15.4 ​Any termination of the Licence or this Agreement (howsoever occasioned) shall not affect any accrued rights or liabilities of either party nor shall it affect the coming into force or the continuance in force of any provision hereof which is expressly or by implication intended to come into or continue in force on or after such termination.
    <br><br>
      15.5 ​In the event of termination of this Agreement Hoxton Digital shall compute a project completion percentage by comparing completed tasks with tasks on the project plan. The Customer shall then pay to Hoxton Digital the same percentage of the Price. Hoxton Digital shall evidence completed tasks to the Customer by demonstrating working functionality or source code.
    <br><br>
    <b>16. Confidentiality</b>
    <br><br>
    16.1 ​Both during this Agreement and after its termination, the parties shall treat as confidential (and shall procure that its personnel and each of them treat as confidential) and shall not (and shall procure that their personnel and each of them does not) other than in the proper provision of the services required to fulfil the Project, use or disclose to any person, firm or company, any Confidential Information belonging to the other party or its Customers, suppliers or customers, nor permit its use or disclosure. Information and shall give the other party all reasonable assistance in connection with any proceedings which the other party may institute against such person for breach of confidence.
    <br><br>
    16.2
    a. The provisions of clause 16.1 shall not apply where Confidential Information is divulged to:b.
    c. either party’s own employees and then only to those employees who need to know the
    same;
    d. either party’s auditors, an officer of HM Customs and Excise, a court of competent
    jurisdiction, governmental body or applicable regulatory authority and any other persons or bodies having a right, duty or obligation to know the business of the other party and then only in pursuance of such right, duty or obligation.
    <br><br>
    16.3 ​Both parties undertake to ensure that persons and bodies referred to in clause 16.2 are made aware before the disclosure of any part of the Confidential Information that the same is confidential and that they owe a duty of confidence to the other party.
    <br><br>
    16.4 ​Each party to this Agreement shall promptly notify the other party if it becomes aware of any breach of confidence by any person to whom it divulges all or any part of the Confidential
    <br><br>
    16.5 ​The provisions of this clause shall survive the termination of this Agreement but the restrictions contained in clause 16.1 shall cease to apply to any information which may come into the public domain otherwise than through unauthorised disclosure.
    <br><br>
    16.6 ​Nothing in this clause 16 shall prevent Hoxton Digital from exploiting any inventions or software that it develops during the term of this Agreement.
    <br><br>


    <b>17. Non-Hiring of Personnel</b>
    <br><br>
    17.1 ​For the duration of this Agreement and for a period of twelve months thereafter neither Party shall employ or make an offer of employment to any employee of the other Party without the express permission in writing of the other Party. “Employ” means the engagement of such person as an employee, director, contractor or sub-contractor directly or indirectly including via an employment agency or other company.
    <br><br>
    <b>18. Data Protection</b>
    <br><br>
    18.1 ​The parties undertake to comply with the provisions of the Data Protection Act 1998 and any related legislation in so far as the same relates to the provisions and obligations of this Agreement.
    <br><br>
    18.2 ​It is the sole responsibility of the Customer to ensure that the Software is not used in any way that infringes data protection legislation at the time being. For the avoidance of doubt, Hoxton Digital accepts no responsibility whatsoever for any such infringement or alleged infringement.
    <br><br>
    <b>19. Interpretation</b>
    <br><br>
    19.1 ​In this Agreement unless the context otherwise requires:
    a. words importing any gender include every gender;
    <br><br>
    b. words importing the singular number include the plural number and vice versa;
    <br><br>
    c. words importing persons include firms, companies and corporations and vice versa;
    <br><br>
    d. references to numbered clauses and schedules are references to the relevant clause in or
    schedule to this Agreement;
    <br><br>
    e. reference in any schedule to this Agreement to numbered paragraphs relate to the numbered
    paragraphs of that schedule;
    <br><br>
    f. the headings to the clauses, schedules and paragraphs of this Agreement shall not affect the
    interpretation;
    <br><br>
    <b>20. Agency, Partnership</b>
    <br><br>
    20.1 ​This Agreement shall not constitute or imply any partnership, joint venture, agency, fiduciary relationship or other relationship between the parties other than the contractual relationship expressly provided for in this Agreement.
    <br><br>
    20.2 ​This Agreement shall not establish the relationship of master and servant as between the Customer and Hoxton Digital or its personnel. The Customer shall not be entitled to require Hoxton Digital or its personnel to carry out any work other than as provided for by this Agreement.
    <br><br>
    <b>21. Amendments</b>
    This Agreement may not be released, discharged, supplemented, interpreted, amended, varied or modified in any manner except by an instrument in writing signed by a duly authorised officer or representative of each of the parties.
    <br><br>
    <b>22. Assignment</b>
    <br><br>
    22.1 ​This Agreement is personal to the parties and, subject to clause 22.2 below, neither this Agreement nor any rights, licences or obligations under it may be assigned by either party without the prior written approval of the other party.
    <br><br>
    22.2 ​Notwithstanding the foregoing, either party may assign this Agreement to any acquirer of all or of substantially all of such party’s equity securities, assets or business relating to the subject matter of this Agreement or to any entity controlled by, that controls, or is under common control with a party to this Agreement. Any attempted assignment in violation of this clause shall be void and without effect.

    <b>23. Entire Agreement</b>
    <br><br>
    This Agreement supersedes all prior agreements, arrangements and undertakings between the parties and constitutes the entire agreement between the parties relating to the subject matter of this Agreement. However the obligations of the parties under any pre-existing non-disclosure agreement shall remain in full force and effect in so far as there is no conflict between the same. The parties confirm that they have not entered into this Agreement on the basis of any representation that is not expressly incorporated into this Agreement.
    <br><br>

    <b>24. Force Majeure</b>
    <br><br>
    Neither Party shall be liable for any delay in meeting, or failure to meet, its obligations under this Agreement due to any cause outside its reasonable control including (without limitation) acts of God, war, riot, malicious acts of damage, fire, acts of any government authority, failure of the public electricity supply, strike, lock-out or labour dispute or apprehension thereof (whether or not the settlement of the matter is at the discretion of the Party in question).
    <br><br>
    <b>25. Notices</b>
    <br><br>
    25.1 ​All notices under this Agreement shall be in writing. 25.2 ​Notices shall be deemed to have been duly given:
    <br><br>
    a. when delivered, if delivered by courier or other messenger (including registered mail) during normal business hours of the recipient; or
    b. when sent, if transmitted by fax or e-mail and a transmission report or return receipt indicating failure of transmission is not generated; or
    c. on the fifth business day following mailing, if mailed by Royal Mail; or
    d. on the tenth business day following mailing, if mailed by airmail, postage prepaid,
    e. in each case addressed to the most recent address, e-mail address, or facsimile number
    notified to the other party.
    <br><br>
    <b>26. Schedules</b>
    The provisions of the Schedules to this Agreement shall form part of this Agreement as if set out here.
    <br><br>
    <b>27. Severance</b>
    If any provision of this Agreement is prohibited by law or judged by a court to be unlawful, void or unenforceable, the provision shall, to the extent required, be severed from this Agreement and rendered ineffective as far as possible without modifying the remaining provisions of this Agreement,
    <br><br>
    <b>28. Successors and Asignees</b>
    <br>
    28.1 ​This agreement shall be binding upon, and inure to the benefit of, the Parties and their respective successors and permitted assignees, and references to a Party in this Agreement shall include its successors and permitted assignees.
    <br><br>
    28.2 ​In this Agreement references to a Party include references to a person:
    a. who for the time being is entitled (by assignment, novation or otherwise) to that party’s rights under this Agreement (or any interest in those rights); or
    b. who, as administrator, liquidator or otherwise, is entitled to exercise those rights,
    and in particular those references include a person to whom those rights (or any interest in those rights) are transferred or pass as a result of a merger, division, reconstruction or other reorganisation involving that party. For this purpose, references to a Party’s rights under this Agreement include any similar rights to which another person becomes entitled as a result of a novation of this Agreement.
    <br><br>
    <b>29. Waiver</b>
    <br>
    No delay, neglect or forbearance on the part of either party in enforcing against the other party any term or condition of this Agreement shall either be or be deemed to be a waiver or in any way prejudice any right of that party under this Agreement. No right, power or remedy in this Agreement conferred upon or reserved for either party is exclusive of any other right, power or remedy available to that party.
    <br><br>
    <b>30. Counterparts</b>
    <br>
    This Agreement may be executed in any number of counterparts or duplicates, each of which shall be an original, and such counterparts or duplicates shall together constitute one and the same agreement.



    <br><br>
    <b>31. Time of the Essence</b>
    <br>
    Time shall be of the essence in this Agreement as regards any time, date or period mentioned in this agreement or subsequently substituted as a time, date or period by agreement in writing between the parties.
    <br><br>
    <b>32. Sub-Contracting</b>
    <br>
    With the prior written consent of the Customer (such consent not to be unreasonably withheld or delayed) Hoxton Digital may perform any or all of its obligations under this Agreement by the use of agents or sub-contractors, provided that Hoxton Digital shall remain liable for such performance and shall indemnify the Customer against any loss or damage suffered by the Customer arising from any act or omission of such agents or sub-contractors.
    <br><br>
    <b>33. Language</b>
    <br>
    This Agreement is made only in the English language. If there is any conflict in the meaning between the English language version of this Agreement and any version or translation of it in any other language, the English language version shall prevail.
    <br><br>
    <b>34. Costs and Expenses</b>
    <br>
    Each party shall bear its own legal costs and other costs and expenses arising in connection with the drafting, negotiation, execution and registration (if applicable) of this Agreement.
    <br><br>
    <b>35. Set-Off</b>
    <br>
    Where either party has incurred any liability to the other party, whether under this Agreement or otherwise, and whether such liability is liquidated or unliquidated, each party may set off the amount of such liability against any sum that would otherwise be due to the other party under this Agreement.
    <br><br>
    <b>36. Third Parties</b>
    <br>
    The parties confirm their intent (subject to clause 14.8) not to confer any rights on any third parties by virtue of this Agreement and accordingly the Contracts (Rights of Third Parties) Act 1999 shall not apply to this Agreement.
    <br><br>
    <b>37. Dispute Resolution</b>
    <br>
    37.1 ​For the purpose of this clause 37, a dispute shall be deemed to have arisen when one Party serves on the other a notice in writing (not including e-mail) stating the nature of the dispute.
  </p>
</div>
