

.small-inputs {
  width: 20vw;
}

.medium-inputs {
  width: 50vw;
  max-width: 600px;
}

.big-inputs {
  width: 80vw;
}


// PAGE SIZES

.50vh {
  height: 50vh;
}

.100vh {
  height: 100vh;
}

.200vh {
  height: 200vh;
}
