.design-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 40px;

  @include for-small-devices-down {
    flex-direction: column-reverse;
    align-items: center;
  }

  @include for-phone-only {
    flex-direction: column-reverse;
  }
}



.new-design {
  @include absCenterColumn;
  padding: 20px;
  padding-bottom: 40px;
  max-width: 700px;
  background-color: white;
  margin: 0 10px;
  border: 1px solid #DFDFDF;

  & img {
    // width: 100%;
    max-width: 500px;
    height: 450px;
    margin-bottom: 40px;
    object-fit: cover;
  }

  &_form {

    & label {
      font-weight: 300;
    }

    & input[type="text"] {
      font-weight: 300;
      display: flex;
      align-items: flex-start;
    }

    & input[type="submit"] {
      background-color: $color-1 !important;
      border: none;
      color: white;
      border-radius: 5px;
      padding: 4px 10px;
      min-width: 500px;
      margin-bottom: 20px;

      &:hover {
        background-color: $color-1-dark !important;
      }
    }

    & a {
      background-color: #EF4A4A;
      color: white;
      padding: 5px 10px;
      border-radius: 3px;
      font-size: 14px;
      margin-top: 10px;

      &:hover {
        background-color: #CE4A4A;
        text-decoration: none;
      }
    }
  }

  @include for-small-devices-down {
    width: 100%;
    max-width: 100vw;
  }

  @include for-phone-only {
    margin: 0;

    & img {
      height: 400px;
    }

    &_form {

      & input[type="submit"] {;
        padding: 4px 10px;
        min-width: 380px;
        margin-bottom: 20px;
      }
    }
  }
}

.promotions-2 {
  height: 850px;
  width: 300px;
  background-image: url('https://media0.giphy.com/media/1yT902UqU5fcFxjLbH/giphy.gif?cid=790b76115d248d666a54554d41bed5cd&rid=giphy.gif');
  background-size: cover;
  background-position: center;
  @include absCenterColumn;

  & h6 {
    color: $light-gray;
    text-align: center;
    width: 70%;
    font-weight: 300;
    line-height: 28px;
    font-size: 20px;
    margin-bottom: 20px;
  }

  & a {
    background-color: $light-gray;
    padding: 5px 20px;
    border-radius: 50px;
    font-size: 16px;
    color: $color-5 !important;
    opacity: 0.8;

    &:hover {
      text-decoration: none;
      background-color: gray;
    }
  }

  @include for-medium-devices-down {
    display: none;
  }


}
