.hd-purple-button {
  background-color: $color-1;
  padding: 8px 55px;
  color: white;
  border-radius: 50px;
  font-size: 16px;
  border: 1px solid $color-1-lighter;
  margin-right: 15px;
  margin-bottom: 15px;
  text-align: center;
  // width: 40vw;


  &:hover {
    text-decoration: none;
    color: white;
    background-color: $color-1-dark;
  }

  @include for-phone-only {
    // width: 80vw;
  }
}

.hd-white-button {
  background-color: white;
  padding: 8px 25px;
  color: $color-1;
  border-radius: 50px;
  font-size: 16px;
  text-align: center;
  // width: 40vw;
  border: 1px solid white;

  &:hover {
    text-decoration: none;
    color: white;
    background-color: $color-1-lighter;
    border: 1px solid white;
  }

  @include for-small-devices-down {
    // width: 80vw;
  }
}


.purple-button {
  background-color: #6E44FF;
  color: white;
  transition: 0.2s all ease-in-out;
  max-width: 600px;
  margin: 10px 0;

  &:hover {
    background-color: #5F37E8;
    color: white;
  }
}

.red-button {
  background-color: #EF626C;
  color: white;
  transition: 0.2s all ease-in-out;
  max-width: 600px;
  margin: 10px 0;

  &:hover {
    background-color: #DA5A63;
    color: white;
  }
}

.update-button {
  background-color: $color-3;
  padding: 10px 20px;
}

.back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white !important;
  border-radius: 3px;
  background-color: $color-1;
  width: 70px;
  height: 32px;

  &:hover {
    text-decoration: none;
    background-color: $color-1-dark;
  }
}

.back-button a {
  margin: 0;
}

.back-button a {
  color: white;
  font-size: 12px;
  font-family: $text;

  &:hover {
    text-decoration: none !important;
  }
}

.back-button i {
  font-size: 8px;
  margin-right: 10px;
  color: white;
}

