.purple-button {
  background-color: #6E44FF;
  color: white;
  transition: 0.2s all ease-in-out;
  max-width: 600px;
  margin: 10px 0;

  &:hover {
    background-color: #5F37E8;
    color: white;
  }
}

.red-button {
  background-color: #EF626C;
  color: white;
  transition: 0.2s all ease-in-out;
  max-width: 600px;
  margin: 10px 0;

  &:hover {
    background-color: #DA5A63;
    color: white;
  }
}

.update-button {
  background-color: $color-3;
  padding: 10px 20px;
}

.back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white !important;
  border-radius: 3px;
  background-color: $color-1;
  width: 70px;
  height: 32px;

  &:hover {
    text-decoration: none;
    background-color: $color-1-dark;
  }
}

.back-button a {
  margin: 0;
}

.back-button a {
  color: white;
  font-size: 12px;
  font-family: $nunito;

  &:hover {
    text-decoration: none !important;
  }
}

.back-button i {
  font-size: 8px;
  margin-right: 10px;
  color: white;
}

