.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}

.nav-link {

}


.navbar-nav {
  width: 100%;
}

.fa-caret-square-down {
  font-size: 28px;
  margin: 0 20px;

  @include for-phone-only {
    margin: 0;
  }
}
