#main {
  position: relative;
  top: 0;
  left: 0;
  transition: 0.4s;
}

.navbar {
  @include absCenterSB;
  border-bottom: 1px solid #E4E8EA;
  background-color: $color-3-lighter;
  height: 50px;
  width: 100%;
  transition: 0.4s;
  position: fixed;
  z-index: 9999;
    top: 0;

  a {
    text-decoration: none;
  }

  &_search {
    display: inline-block;
  }

  h1 {
    width: 100%;
    font-family: $title;
    font-size: 22px;
    margin: 0;
    color: #3F4447;
    text-align: center;
  }

  button {
    border: none;
    background-color: #F2F4F4;
    font-family: 'Nunito-Sans', sans-serif;
    font-weight: 300;
    width: 100px;

    &:focus {
      outline: none;
    }
  }

  i {
    color: #3F4447;
    padding: 0 10px;
  }

  @include for-phone-only {
    & span {
      display: none;
    }

    & button {
      width: 50px;
    }
  }

  @include for-small-phone-only {
    h1 {
      font-size: 18px;
    }

    & button {
      width: 50px;
    }
  }
}


.sidenav {
  height: 100vh;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -250px;
  z-index: 1000;
  background-color: $color-3-lighter;
  overflow-x: hidden;
  transition: 0.4s;
  padding-top: 60px;
  border-right: 1px solid #E4E8EA;
}

.sidenav a {
  padding: 12px 8px 12px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #3F4447;
  display: block;
  transition: 0.3s;
  font-family: $nunito;
  font-weight: 300;
  border-top: 1px solid #E4E8EA;
}

.sidenav a:nth-child(2) {
  font-weight: 400;
  color: $color-1-dark;
}

.sidebar-links {
  &:hover {
    background-color: white;
    transition: 0.5s all ease-in-out;
  }
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 26px;
  margin-left: 50px;

  &:hover {
    color: $color-3-light;
  }
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
