.posts-index {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;
}

.posts-index p {
  font-size: 16px !important;
}

.posts-container {
  max-width: 1366px;
  background-color: white;
  padding: 80px 0 0 0;
}

.posts-header h2 {
  color: $color-5;
  font-size: 40px !important;
  line-height: 40px;
  font-weight: 700;
}

.posts-header p {
  color: $color-5;
  font-weight: 300;
  line-height: 24px;
}

.posts-header hr {
  display: block;
  width: 50px;
  clear: both;
  border-bottom: 5px solid $color-5;
}

.posts {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 20px;
  padding-bottom: 80px;

  @include for-xlarge-devices-down {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include for-medium-devices-down {
    grid-template-columns: 1fr 1fr;
  }

  @include for-small-devices-down {
    grid-template-columns: 1fr;
  }
}

.posts a {
  text-decoration: none;
}

.post {
  border: 1px solid #F2F4F4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 3px;
  height: 470px;
  overflow: hidden;
}

.post-image {
  height: 65%;
  width: 100%;
  object-fit: cover;

  &:hover {
    filter: brightness(90%);
  }
}

.post-text {
  padding: 15px;
}

.post-text div:first-child {
  color: $color-5;
  font-size: 18px;
  font-family: $text;
  font-weight: 500;
}

.post-text div:last-child {
  color: gray;
  font-size: 14px;
  font-family: $text;
  font-weight: 300;
}



.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: $color-1;
    border-color: $color-1-dark;
}

.page-link {
  color: $color-1;
}

.page-link:hover {
  color: $color-1-dark;
}

.post-go {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
  padding: 0 20px;
  background-color: #FAFAFA;

  &:hover {
    background-color: #EAEAEA;
  }
}

.post-go p, i {
  margin-bottom: 0;
  text-transform: uppercase;
  color: gray;
  font-size: 12px !important;
}

.post-go a {

  &:hover {
    text-decoration: none;
  }
}



// .posts-index {
//   background-color: white;
//   width: 100%;
//   height: 100%;
//   padding-top: 120px;
//   display: flex;
//   justify-content: center;

//   @include for-phone-only {
//     padding-top: 50px;
//   }
// }

// .posts-container {
//   width: 1100px;
// }

// .posts-index-headers {
//   margin-bottom: 60px;
//   width: 100%;
//   display: flex;
//   flex-direction: column;
//   align-items: center;

//   & h1:first-child {
//     text-align: center;
//     font-family: $limelight;
//     color: #2B2E30;
//     font-size: 50px;
//     margin: 0;
//   }

//   & p {
//     font-family: $text;
//     font-weight: 200;
//     font-size: 18px;
//     text-align: center;
//     color: #2B2E30;
//   }

//   @include for-phone-only {
//     margin-bottom: 20px;

//     & h1:first-child {
//       font-size: 28px;
//     }

//     & p {
//       width: 90vw;
//       font-size: 11px;
//     }
//   }
// }

// .posts-index-filters {
//   width: 100%;
//   margin-bottom: 30px;
//   display: flex;
//   justify-content: space-around;
//   display: none;

//   & a {
//     overflow-x: scroll;
//     width: 120px;
//     font-family: $text;
//     font-weight: 200;
//     color: #545454;
//     cursor: pointer;
//     padding-left: 0;
//     font-size: 16px;

//     &:hover {
//       font-weight: 400;
//     }
//   }
// }

// .posts-index-first {
//   width: 100%;
//   padding-bottom: 20px;
//   display: flex;
//   border-bottom: 1px dotted #C4C4C4;
// }

// .posts-index-first-main-news {
//   // background-color: #FAFAFA;
//   width: 100%;
//   padding: 0 30px;

//   a {
//     text-decoration: none;

//     &:last-child {
//       color: #98BFBD;
//       font-family: $text;
//       font-weight: 200;
//       font-size: 16px;

//       &:hover {
//         color: #85AAA8;
//       }
//     }
//   }

//   img {
//     width: 100%;
//     height: 350px;
//     object-fit: cover;

//     &:hover {
//       filter: brightness(110%);
//     }
//   }

//   h2 {
//     margin: 20px 0;
//     font-family: $text;
//     font-weight: 700;
//     color: #2B2E30;
//     font-size: 16px;
//   }

//   p {
//     font-family: $text;
//     font-weight: 200;
//     color: #676A6C;
//     font-size: 14px;
//   }

//   @include for-medium-devices-down {

//     h2 {
//       font-size: 28px;
//     }

//     p {
//       font-size: 16px;
//     }
//   }

//   @include for-phone-only {
//     padding: 0 20px;
//   }
// }

// .posts-index-first-main-list {
//   // background-color: #FAFAF0;
//   width: 100%;
//   padding: 0 30px;

//   & h2 {
//     font-family: $text;
//     font-weight: 200;
//     color: #98BFBD;
//     font-size: 16px;
//   }

//   @include for-medium-devices-down {
//     display: none;
//   }
// }

// .latest-news-card {
//   height: 120px;
//   width: 100%;
//   display: flex;
//   flex-direction: row;
//   text-decoration: none;
//   margin: 10px 0;
//   cursor: pointer;
//   // background-color: gray;

//   img {
//     object-fit: cover;
//     height: 100%;
//     width: 120px;

//     &:hover {
//       filter: brightness(110%);
//     }
//   }

//   &_content {
//     padding:  10px 0 10px 20px;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;

//     h3 {
//       font-family: $text;
//       font-weight: 600;
//       color: #2B2E30;
//       font-size: 16px;

//       &:hover {
//         opacity: 0.8;
//       }
//     }

//     p {
//       font-family: $text;
//       font-weight: 300;
//       color: #929292;
//       font-size: 12px;
//       margin: 0;
//     }
//   }

// }

// .posts-index-second {
//   width: 100%;
//   display: flex;
//   position: relative;
//   padding-top: 30px;
// }

// .posts-index-common {
//   width: 70%;
//   padding: 0 30px;

//   @include for-medium-devices-down {
//     width: 100%;
//   }

//   @include for-phone-only {
//     padding: 0 20px;
//   }
// }

// .posts-index-popular {
//   padding: 20px;
//   width: 30%;
//   height: 100%;
//   // background-color: #FAFAFA;
//   position: -webkit-sticky;
//   position: sticky;
//     top: 0;

//     & h2 {
//       font-family: $text;
//       font-weight: 700;
//       color: #2B2E30;
//       font-size: 18px;
//       padding-bottom: 20px;
//       margin-bottom: 20px;
//       border-bottom: 1px dotted #C4C4C4;
//     }

//     @include for-medium-devices-down {
//       display: none;
//     }
// }

// .posts-index-common-card {
//   width: 100%;
//   height: 200px;
//   display: flex;
//   justify-content: space-between;
//   margin: 30px 0;

//   &_content {
//     position: relative;

//     & h4 {
//       text-transform: uppercase;
//       font-size: 14px;
//       font-family: $text;
//       font-weight: 200;
//       color: #676A6C;
//       // background-color: #E9E9EA;
//       border-radius: 3px;
//       // padding: 6px 10px;
//     }

//     & h2 {
//       font-size: 20px;
//       font-family: $text;
//       font-weight: 700;
//       color: #2B2E30;
//       margin-bottom: 20px;

//       &:hover {
//         opacity: 0.8;
//       }
//     }

//     & p {
//      color: #676A6C;
//      font-size: 17px;
//      font-family: $text;
//      font-weight: 200;
//     }

//     & p:last-child {
//       color: #676A6C;
//       font-size: 14px;
//       font-family: $text;
//       font-weight: 200;
//       position: absolute;
//         bottom: 10px;
//     }

//   }

//   & img {
//     height: 100%;
//     width: 200px;
//     object-fit: cover;

//     &:hover {
//       filter: brightness(110%);
//     }
//   }

//   @include for-medium-devices-down {

//     &_content {
//       padding-right: 25px;
//     }
//   }

//   @include for-phone-only {
//     align-items: flex-start;

//     &_content {

//       & h4 {
//         font-size: 13px;
//       }

//       & h2 {
//         font-size: 18px;
//       }

//       & p {
//        font-size: 13px;
//       }

//       & p:last-child {
//         font-size: 11px;
//         margin-bottom: 0;
//         position: relative;
//       }

//     }

//     & img {
//       width: 100px;
//       height: 50%;
//     }
//   }
// }

// .posts-index-popular-card {
//   display: flex;
//   cursor: pointer;

//   &_header {
//     & p {
//       font-size: 20px;
//       color: #C0C0C0;
//       padding-right: 30px;
//       // text-align: left;
//     }
//   }

//   &_content {

//     & h3 {
//       font-family: $text;
//       font-weight: 700;
//       color: #2B2E30;
//       font-size: 16px;

//       &:hover {
//         opacity: 0.8;
//       }
//     }

//     & p:first-child {
//       font-family: $text;
//       font-weight: 300;
//       color: #2B2E30;
//     }

//     & p:last-child {
//       font-family: $text;
//       font-weight: 200;
//       color: #919191;
//     }
//   }
// }
