.posts-index {
  background-color: #F6F8F8;
  width: 100%;
  padding-top: 120px;
  display: flex;
  justify-content: center;
}

.posts-container {
  width: 1100px;
}

.posts-index-headers {
  margin-bottom: 60px;
  width: 100%;

  & h1:first-child {
    text-align: center;
    font-family: $limelight;
    color: #2B2E30;
    font-size: 50px;
    margin: 0;
  }

  & p {
    font-family: $nunito;
    font-weight: 200;
    font-size: 18px;
    text-align: center;
    color: #2B2E30;
  }
}

.posts-index-filters {
  width: 100%;
  margin-bottom: 30px;

  & ul,li {
    list-style-type: none;
    display: flex;
    font-family: $nunito;
    justify-content: space-around;
    font-weight: 200;
    color: #545454;
    cursor: pointer;

    &:hover {
      font-weight: 400;
    }
  }
}

.posts-index-first {
  width: 100%;
  height: 500px;
  display: flex;
  border-bottom: 1px dotted #C4C4C4;
}

.posts-index-first-main-news {
  // background-color: #FAFAFA;
  width: 100%;
  padding: 0 30px;

  a {
    text-decoration: none;

    &:last-child {
      color: #98BFBD;
      font-family: $nunito;
      font-weight: 200;
      font-size: 16px;

      &:hover {
        color: #85AAA8;
      }
    }
  }

  img {
    width: 100%;
    height: 350px;
    object-fit: cover;

    &:hover {
      filter: brightness(110%);
    }
  }

  h2 {
    margin-top: 20px;
    font-family: $nunito;
    font-weight: 700;
    color: #2B2E30;
    font-size: 16px;
  }

  p {
    font-family: $nunito;
    font-weight: 200;
    color: #676A6C;
    font-size: 14px;
  }
}

.posts-index-first-main-list {
  // background-color: #FAFAF0;
  width: 100%;
  padding: 0 30px;

  & h2 {
    font-family: $nunito;
    font-weight: 200;
    color: #98BFBD;
    font-size: 16px;
  }
}

.latest-news-card {
  height: 120px;
  width: 100%;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  margin: 10px 0;
  cursor: pointer;
  // background-color: gray;

  img {
    object-fit: cover;
    height: 100%;
    width: 120px;

    &:hover {
      filter: brightness(110%);
    }
  }

  &_content {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h3 {
      font-family: $nunito;
      font-weight: 600;
      color: #2B2E30;
      font-size: 16px;

      &:hover {
        opacity: 0.8;
      }
    }

    p {
      font-family: $nunito;
      font-weight: 300;
      color: #929292;
      font-size: 12px;
      margin: 0;
    }
  }

}

.posts-index-second {
  height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
  padding-top: 30px;
}

.posts-index-common {
  height: 100vh;
  width: 70%;
  // background-color: red;
}

.posts-index-popular {
  padding: 20px;
  width: 30%;
  height: 100px;
  // background-color: #FAFAFA;
  position: -webkit-sticky;
  position: sticky;
    top: 0;

    & h2 {
      font-family: $nunito;
      font-weight: 700;
      color: #2B2E30;
      font-size: 18px;
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px dotted #C4C4C4;
    }
}

.posts-index-common-card {
  width: 100%;
  height: 200px;
  background-color: #fafafa;
  display: flex;
  margin: 20px 0;

  &_content {
    position: relative;

    & h4 {
      text-transform: uppercase;
      font-size: 14px;
      font-family: $nunito;
      font-weight: 200;
      color: #676A6C;
    }

    & h2 {
      font-size: 20px;
      font-family: $nunito;
      font-weight: 700;
      color: #2B2E30;
      margin-bottom: 20px;
    }

    & p {
     color: #676A6C;
     font-size: 17px;
     font-family: $nunito;
     font-weight: 200;
    }

    & p:last-child {
      color: #676A6C;
      font-size: 14px;
      font-family: $nunito;
      font-weight: 200;
      position: absolute;
        bottom: 10px;
    }
  }

  & img {
    height: 100%;
    width: 200px;
    object-fit: cover;
  }
}

.posts-index-popular-card {
  display: flex;
  cursor: pointer;

  &_header {
    & p {
      font-size: 20px;
      color: #C0C0C0;
      padding-right: 30px;
      // text-align: left;
    }
  }

  &_content {

    & h3 {
      font-family: $nunito;
      font-weight: 700;
      color: #2B2E30;
      font-size: 16px;

      &:hover {
        opacity: 0.8;
      }
    }

    & p:first-child {
      font-family: $nunito;
      font-weight: 300;
      color: #2B2E30;
    }

    & p:last-child {
      font-family: $nunito;
      font-weight: 200;
      color: #919191;
    }
  }
}
