.single-post {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;

  img {
    max-width: 100%;
    object-fit: cover;
  }
}

.post-space {
  height: 100px;
  background-color: white;
}

.post-category {
  background-color: $color-1;
  padding: 8px 15px;
  border-radius: 50px;
  color: white;
  font-size: 12px !important;
}

.post-container {
  max-width: 1366px;
  font-family: $nunito;
  font-weight: 300;
  padding: 40px 0 0 0;
  padding-bottom: 60px;
  background-color: white;

  a {
    color: $color-3;
    font-size: 16px;
  }

  @include for-small-devices-down {
    max-width: 90vw;
  }
}

.post-header {
  margin-top: 20px;
  font-size: 45px;
  font-weight: 500;
  color: #161B21;
  font-family: $merriweather;
}

.post-avatar {
  height: 50px !important;
  width: 50px !important;
  border-radius: 50px !important;
}

.post-details {
  display: flex;
  margin: 20px 0 20px 0;
}
.post-details-user-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10px;

  p {
    margin: 0;
    font-weight: 500;
  }

  p:last-child {
    font-weight: 300;
    color: #8D8F92;
  }
}


.single-post strong {
  font-weight: 800;

.post-body img {
  width: 100vw;
  object-fit: cover;
  &:target {
    color: blue !important;
  }
